
.tixpire_button { 
	margin-top: 25px;
}

.tixpire_button button {
	font-weight: 100;
    display: block;
    width: 100%;
    border: none;
	height: 42px;
	border-radius: 5px;
	background-color: #D20098;
	padding: 0;
}
	
.tixpire_button button div {
	height: 27px;
    vertical-align: middle;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    text-align: left;
}

.tixpire_button button div span {
	height: 27px;
    line-height: 27px;
    display: inline-block;
    margin-right: 5px;
    color: #FFF;
    font-size: 11px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.6);
    font-weight: 600;
}

.tixpire_button button div em {
	height: 27px;
    background: url('https://cdn.jsdelivr.net/gh/codymurphyjones/tixspire-admin-panel@master/tool/tixpire_logo.png') no-repeat center;
    background-position: center 6px;
    width: 65px;
    background-size: contain;
    display: inline-block;
	margin-top: -7px;
}